{
  kdialog.Kdialog = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kdialog.Kdialog.xpm";
  };
  kbibtex.Kbibtex = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kbibtex.Kbibtex.xpm";
  };
  cirkuit.Cirkuit = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cirkuit.Cirkuit.xpm";
  };
  yakuake.Yakuake = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/yakuake.Yakuake.xpm";
  };
  empathy.Empathy = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/empathy.Empathy.xpm";
  };
  drkonqi.Drkonqi = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/drkonqi.Drkonqi.xpm";
  };
  gattrib.Gattrib = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gattrib.Gattrib.xpm";
  };
  kplayer.Kplayer = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kplayer.Kplayer.xpm";
  };
  skrooge.Skrooge = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/skrooge.Skrooge.xpm";
  };
  gbrainy.Gbrainy = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gbrainy.Gbrainy.xpm";
  };
  knights.Knights = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/knights.Knights.xpm";
  };
  gkrellm.Gkrellm = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gkrellm.Gkrellm.xpm";
  };
  "notification-properties.Notification-properties" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/notification-properties.Notification-properties.xpm";
  };
  "glade-3.Glade-3" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/glade-3.Glade-3.xpm";
  };
  gnotski.Gnotski = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnotski.Gnotski.xpm";
  };
  firefox.Firefox = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/firefox.Firefox.xpm";
  };
  koceansaver.kss.Koceansaver.kss = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/koceansaver.kss.Koceansaver.kss.xpm";
  };
  nethack.Nethack = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/nethack.Nethack.xpm";
  };
  squeeze.Squeeze = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/squeeze.Squeeze.xpm";
  };
  "thunderbird-bin.Thunderbird-bin" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/thunderbird-bin.Thunderbird-bin.xpm";
  };
  kontact.Kontact = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kontact.Kontact.xpm";
  };
  evilvte.Evilvte = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/evilvte.Evilvte.xpm";
  };
  korners.Korners = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/korners.Korners.xpm";
  };
  kttsmgr.Kttsmgr = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kttsmgr.Kttsmgr.xpm";
  };
  konsole.Konsole = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoResizebar = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/konsole.Konsole.xpm";
  };
  gwibber.Gwibber = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gwibber.Gwibber.xpm";
  };
  paprefs.Paprefs = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/paprefs.Paprefs.xpm";
  };
  gambas3.Gambas3 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gambas3.Gambas3.xpm";
  };
  pcmanfm.Pcmanfm = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pcmanfm.Pcmanfm.xpm";
  };
  dolphin.Dolphin = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/dolphin.Dolphin.xpm";
  };
  vidalia.Vidalia = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/vidalia.Vidalia.xpm";
  };
  abiword.Abiword = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/abiword.Abiword.xpm";
  };
  twinkle.Twinkle = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/twinkle.Twinkle.xpm";
  };
  kturtle.Kturtle = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kturtle.Kturtle.xpm";
  };
  "blueman-manager.Blueman-manager" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/blueman-manager.Blueman-manager.xpm";
  };
  MPlayer.MPlayer = {
    NoTitlebar = Yes;
    NoMiniaturizeButton = Yes;
    NoResizebar = Yes;
    KeepOnTop = Yes;
    NoCloseButton = Yes;
  };
  gmameui.Gmameui = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gmameui.Gmameui.xpm";
  };
  easytag.Easytag = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/easytag.Easytag.xpm";
  };
  calibre.Calibre = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/calibre.Calibre.xpm";
  };
  soffice.Soffice = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/soffice.Soffice.xpm";
  };
  beediff.Beediff = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/beediff.Beediff.xpm";
  };
  dropbox.Dropbox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/dropbox.Dropbox.xpm";
  };
  updater.Updater = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/updater.Updater.xpm";
  };
  "transmission-qt.Transmission-qt" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/transmission-qt.Transmission-qt.xpm";
  };
  "instantbird-bin.Instantbird-bin" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/instantbird-bin.Instantbird-bin.xpm";
  };
  klipper.Klipper = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/klipper.Klipper.xpm";
  };
  "transmission-remote-gtk.Transmission-remote-gtk" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/transmission-remote-gtk.Transmission-remote-gtk.xpm";
  };
  brasero.Brasero = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/brasero.Brasero.xpm";
  };
  emesene.Emesene = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/emesene.Emesene.xpm";
  };
  kimagemapeditor.Kimagemapeditor = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kimagemapeditor.Kimagemapeditor.xpm";
  };
  kmagnet.Kmagnet = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kmagnet.Kmagnet.xpm";
  };
  knotify.Knotify = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/knotify.Knotify.xpm";
  };
  runanki.Runanki = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/runanki.Runanki.xpm";
  };
  kioexec.Kioexec = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kioexec.Kioexec.xpm";
  };
  devhelp.Devhelp = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/devhelp.Devhelp.xpm";
  };
  bleachbit.Bleachbit = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/bleachbit.Bleachbit.xpm";
  };
  Bejeweled2.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Bejeweled2.exe.Wine.xpm";
  };
  "EvilGeniusExeStub-Release.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/EvilGeniusExeStub-Release.exe.Wine.xpm";
  };
  qiv. = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/qiv..xpm";
  };
  ca_setup4.1.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ca_setup4.1.exe.Wine.xpm";
  };
  zenity.Zenity = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/zenity.Zenity.xpm";
  };
  Toolkit.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Toolkit.Firefox.xpm";
  };
  kgeography.Kgeography = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kgeography.Kgeography.xpm";
  };
  kaffeine.Kaffeine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kaffeine.Kaffeine.xpm";
  };
  Addons.Firefox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Addons.Firefox.xpm";
  };
  medit.Medit = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/medit.Medit.xpm";
  };
  "ethereal-capture.Ethereal-capture" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ethereal-capture.Ethereal-capture.xpm";
  };
  kwalletmanager.Kwalletmanager = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kwalletmanager.Kwalletmanager.xpm";
  };
  eeschema.Eeschema = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/eeschema.Eeschema.xpm";
  };
  "d-feet.D-feet" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/d-feet.D-feet.xpm";
  };
  Loader.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Loader.exe.Wine.xpm";
  };
  zhu3d.Zhu3d = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/zhu3d.Zhu3d.xpm";
  };
  "lc-1511.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/lc-1511.exe.Wine.xpm";
  };
  kiten.Kiten = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kiten.Kiten.xpm";
  };
  Navigator.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Navigator.Firefox.xpm";
  };
  "Luxor - 5th Passage.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Luxor - 5th Passage.exe.Wine.xpm";
  };
  qtrans.Qtrans = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/qtrans.Qtrans.xpm";
  };
  acroread.Acroread = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/acroread.Acroread.xpm";
  };
  kpilot.Kpilot = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kpilot.Kpilot.xpm";
  };
  gucharmap.Gucharmap = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gucharmap.Gucharmap.xpm";
  };
  md5summer.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/md5summer.exe.Wine.xpm";
  };
  CoversUnzipper.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/CoversUnzipper.exe.Wine.xpm";
  };
  Extension.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Extension.Firefox.xpm";
  };
  "gtk-demo.Gtk-demo" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gtk-demo.Gtk-demo.xpm";
  };
  seahorse.Seahorse = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/seahorse.Seahorse.xpm";
  };
  INS39fe.tmp.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/INS39fe.tmp.Wine.xpm";
  };
  tubularix.Tubularix = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/tubularix.Tubularix.xpm";
  };
  kdenlive.Kdenlive = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kdenlive.Kdenlive.xpm";
  };
  kanyremote.Kanyremote = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kanyremote.Kanyremote.xpm";
  };
  "WiresharkPortable-1.0.0.paf.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/WiresharkPortable-1.0.0.paf.exe.Wine.xpm";
  };
  Delicious4.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Delicious4.exe.Wine.xpm";
  };
  gnibbles.Gnibbles = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnibbles.Gnibbles.xpm";
  };
  filezilla.Filezilla = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/filezilla.Filezilla.xpm";
  };
  WinPcap_4_0_beta2.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/WinPcap_4_0_beta2.exe.Wine.xpm";
  };
  hworks32.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/hworks32.exe.Wine.xpm";
  };
  q4wine.Q4wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/q4wine.Q4wine.xpm";
  };
  SkypeSetupFull.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/SkypeSetupFull.exe.Wine.xpm";
  };
  poedit.Poedit = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/poedit.Poedit.xpm";
  };
  piklab.Piklab = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/piklab.Piklab.xpm";
  };
  linuxdcpp.Linuxdcpp = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/linuxdcpp.Linuxdcpp.xpm";
  };
  xmms.Xmms = {
    NoResizebar = Yes;
  };
  pealauncher.Pealauncher = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pealauncher.Pealauncher.xpm";
  };
  kexi.Kexi = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kexi.Kexi.xpm";
  };
  amule.Amule = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/amule.Amule.xpm";
  };
  "LC-1510.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/LC-1510.exe.Wine.xpm";
  };
  xload.XLoad = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xload.XLoad.xpm";
  };
  midori.Midori = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/midori.Midori.xpm";
  };
  kmines.Kmines = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kmines.Kmines.xpm";
  };
  cervisia.Cervisia = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cervisia.Cervisia.xpm";
  };
  xchat.Xchat = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xchat.Xchat.xpm";
  };
  kmix.Kmix = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kmix.Kmix.xpm";
  };
  ktalkdlg.Ktalkdlg = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ktalkdlg.Ktalkdlg.xpm";
  };
  anki.Anki = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/anki.Anki.xpm";
  };
  groupLeader.WPrefs = {
    Icon = "/usr/lib/GNUstep/Applications/WPrefs.app/WPrefs.tiff";
  };
  kolf.Kolf = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kolf.Kolf.xpm";
  };
  entice.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/entice.exe.Wine.xpm";
  };
  konversation.Konversation = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/konversation.Konversation.xpm";
  };
  gnobots2.Gnobots2 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnobots2.Gnobots2.xpm";
  };
  grsync.Grsync = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/grsync.Grsync.xpm";
  };
  Browser.Flock = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Browser.Flock.xpm";
  };
  emacs.Emacs = {
    NoAppIcon = Yes;
    Icon = ColorGNU.xpm;
  };
  sol.Sol = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/sol.Sol.xpm";
  };
  opgui.Opgui = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/opgui.Opgui.xpm";
  };
  kmplot.Kmplot = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kmplot.Kmplot.xpm";
  };
  VoiceTxtLib.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/VoiceTxtLib.exe.Wine.xpm";
  };
  gview.Gview = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gview.Gview.xpm";
  };
  xclock.XClock = {
    Unfocusable = Yes;
    NoTitlebar = Yes;
    NoResizebar = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xclock.XClock.xpm";
  };
  GHDeliciousEmilysTrueLovePremium.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/GHDeliciousEmilysTrueLovePremium.exe.Wine.xpm";
  };
  hexedit.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/hexedit.exe.Wine.xpm";
  };
  "gconf-editor.Gconf-editor" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gconf-editor.Gconf-editor.xpm";
  };
  _INS0432._MP.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/_INS0432._MP.Wine.xpm";
  };
  "empathy-accounts.Empathy-accounts" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/empathy-accounts.Empathy-accounts.xpm";
  };
  Ricochet.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Ricochet.exe.Wine.xpm";
  };
  gimp.Gimp = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gimp.Gimp.xpm";
  };
  rxvt.XTerm = {
    NoTitlebar = Yes;
    NoResizebar = Yes;
    Icon = Terminal.tiff;
  };
  wineconsole.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/wineconsole.exe.Wine.xpm";
  };
  keepass2.KeePass2 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/keepass2.KeePass2.xpm";
  };
  kdbg.Kdbg = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kdbg.Kdbg.xpm";
  };
  opale.Opale = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/opale.Opale.xpm";
  };
  kaddressbook.Kaddressbook = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kaddressbook.Kaddressbook.xpm";
  };
  FarmFrenzy3_Arctica.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/FarmFrenzy3_Arctica.exe.Wine.xpm";
  };
  openshot.Openshot = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/openshot.Openshot.xpm";
  };
  cfw_installer.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cfw_installer.exe.Wine.xpm";
  };
  "Qt-subapplication.VirtualBox" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Qt-subapplication.VirtualBox.xpm";
  };
  keepassx.Keepassx = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/keepassx.Keepassx.xpm";
  };
  peazip.Peazip = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/peazip.Peazip.xpm";
  };
  eboard.Eboard = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/eboard.Eboard.xpm";
  };
  Shamela.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Shamela.exe.Wine.xpm";
  };
  pikloops.Pikloops = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/pikloops.Pikloops.xpm";
  };
  "wicd-kde.Wicd-kde" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wicd-kde.Wicd-kde.xpm";
  };
  feff.Feff = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/feff.Feff.xpm";
  };
  fsview.Fsview = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/fsview.Fsview.xpm";
  };
  "Browser.GNU IceCat" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Browser.GNU IceCat.xpm";
  };
  glines.Glines = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/glines.Glines.xpm";
  };
  lxappearance.Lxappearance = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/lxappearance.Lxappearance.xpm";
  };
  "seamonkey-bin.Seamonkey-bin" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/seamonkey-bin.Seamonkey-bin.xpm";
  };
  cb2bib.Cb2bib = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cb2bib.Cb2bib.xpm";
  };
  parole.Parole = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/parole.Parole.xpm";
  };
  kcalc.Kcalc = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kcalc.Kcalc.xpm";
  };
  regedit.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/regedit.exe.Wine.xpm";
  };
  "The Regex Coach.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/The Regex Coach.exe.Wine.xpm";
  };
  hardinfo.Hardinfo = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/hardinfo.Hardinfo.xpm";
  };
  simpledialog.Opera = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/simpledialog.Opera.xpm";
  };
  xarchiver.Xarchiver = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xarchiver.Xarchiver.xpm";
  };
  kdiff3.Kdiff3 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kdiff3.Kdiff3.xpm";
  };
  startupdialog.Opera = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/startupdialog.Opera.xpm";
  };
  giggle.Giggle = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/giggle.Giggle.xpm";
  };
  pavucontrol.Pavucontrol = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pavucontrol.Pavucontrol.xpm";
  };
  xchm.Xchm = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xchm.Xchm.xpm";
  };
  mlterm.mlterm = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoResizebar = Yes;
    Icon = terminal.xpm;
  };
  mirc722.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mirc722.exe.Wine.xpm";
  };
  pitivi.Pitivi = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pitivi.Pitivi.xpm";
  };
  windbg.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/windbg.exe.Wine.xpm";
  };
  cheese.Cheese = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cheese.Cheese.xpm";
  };
  kget.Kget = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kget.Kget.xpm";
  };
  kig.Kig = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kig.Kig.xpm";
  };
  edb.Edb = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/edb.Edb.xpm";
  };
  "kres-migrator.Kres-migrator" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kres-migrator.Kres-migrator.xpm";
  };
  age3.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/age3.exe.Wine.xpm";
  };
  "freeciv-gtk2.Freeciv-gtk2" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/freeciv-gtk2.Freeciv-gtk2.xpm";
  };
  cvpcb.Cvpcb = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/cvpcb.Cvpcb.xpm";
  };
  gtkpod.Gtkpod = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gtkpod.Gtkpod.xpm";
  };
  usbpicprog.Usbpicprog = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/usbpicprog.Usbpicprog.xpm";
  };
  Addons.SeaMonkey = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Addons.SeaMonkey.xpm";
  };
  kmag.Kmag = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kmag.Kmag.xpm";
  };
  kicad.Kicad = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kicad.Kicad.xpm";
  };
  evolution.Evolution = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/evolution.Evolution.xpm";
  };
  "empathy-auth-client.Empathy-auth-client" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/empathy-auth-client.Empathy-auth-client.xpm";
  };
  subtitleeditor.Subtitleeditor = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/subtitleeditor.Subtitleeditor.xpm";
  };
  gcalctool.Gcalctool = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gcalctool.Gcalctool.xpm";
  };
  TimeDreamer_TemporalBetrayal.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/TimeDreamer_TemporalBetrayal.exe.Wine.xpm";
  };
  audacity.Audacity = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/audacity.Audacity.xpm";
  };
  "Mobile Media Converter.Mobile Media Converter" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Mobile Media Converter.Mobile Media Converter.xpm";
  };
  yelp.Yelp = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/yelp.Yelp.xpm";
  };
  kfind.Kfind = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kfind.Kfind.xpm";
  };
  amandatherapy.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/amandatherapy.exe.Wine.xpm";
  };
  lskat.Lskat = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/lskat.Lskat.xpm";
  };
  gnoduino.Gnoduino = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnoduino.Gnoduino.xpm";
  };
  xfw.Xfe = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xfw.Xfe.xpm";
  };
  soundkonverter.Soundkonverter = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/soundkonverter.Soundkonverter.xpm";
  };
  skype.Skype = {
    NoAppIcon = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/skype.Skype.xpm";
  };
  spider.Spider = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/spider.Spider.xpm";
  };
  "gadmin-proftpd.Gadmin-proftpd" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gadmin-proftpd.Gadmin-proftpd.xpm";
  };
  gambas3.gambas.Gambas3.gambas = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gambas3.gambas.Gambas3.gambas.xpm";
  };
  eagle.Eagle = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/eagle.Eagle.xpm";
  };
  command_shell.Ddd = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/command_shell.Ddd.xpm";
  };
  krdc.Krdc = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/krdc.Krdc.xpm";
  };
  Foxmarks.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Foxmarks.Firefox.xpm";
  };
  eog.Eog = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/eog.Eog.xpm";
  };
  kttsd.Kttsd = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kttsd.Kttsd.xpm";
  };
  qtcreator.Qtcreator = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/qtcreator.Qtcreator.xpm";
  };
  calligrawords.Calligrawords = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/calligrawords.Calligrawords.xpm";
  };
  wink.Wink = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/wink.Wink.xpm";
  };
  lyx.Lyx = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/lyx.Lyx.xpm";
  };
  akregator.Akregator = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/akregator.Akregator.xpm";
  };
  sublime_text.Sublime_text = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/sublime_text.Sublime_text.xpm";
  };
  java.Java = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/java.Java.xpm";
  };
  kppp.Kppp = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kppp.Kppp.xpm";
  };
  ekiga.Ekiga = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ekiga.Ekiga.xpm";
  };
  bittorrent.Bittorrent = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/bittorrent.Bittorrent.xpm";
  };
  "gnome-mplayer.Gnome-mplayer" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnome-mplayer.Gnome-mplayer.xpm";
  };
  Sfp3.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Sfp3.exe.Wine.xpm";
  };
  gnect.Gnect = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnect.Gnect.xpm";
  };
  tilda.Tilda = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoMiniaturizeButton = Yes;
    NoResizebar = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/tilda.Tilda.xpm";
    KeepOnTop = Yes;
    NoCloseButton = Yes;
    Omnipresent = Yes;
  };
  parley.Parley = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/parley.Parley.xpm";
  };
  xfwrc. = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xfwrc..xpm";
  };
  Mail.Thunderbird = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Mail.Thunderbird.xpm";
  };
  Autoplay.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Autoplay.exe.Wine.xpm";
  };
  kded4.Kded4 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kded4.Kded4.xpm";
  };
  xfvrc. = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xfvrc..xpm";
  };
  xfe.Xfe = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xfe.Xfe.xpm";
  };
  ostinato.Ostinato = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ostinato.Ostinato.xpm";
  };
  uninstaller.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/uninstaller.exe.Wine.xpm";
  };
  inkscape.Inkscape = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/inkscape.Inkscape.xpm";
  };
  mdic.Mdic = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mdic.Mdic.xpm";
  };
  "firefox-bin.Firefox-bin" = {
    NoAppIcon = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/firefox-bin.Firefox-bin.xpm";
  };
  trainer.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/trainer.exe.Wine.xpm";
  };
  opera.Opera = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/opera.Opera.xpm";
  };
  krita.Krita = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/krita.Krita.xpm";
  };
  kmail.Kmail = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kmail.Kmail.xpm";
  };
  "Mortal Kombat 4.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Mortal Kombat 4.exe.Wine.xpm";
  };
  screenshot.Screenshot = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/screenshot.Screenshot.xpm";
  };
  gaim.Gaim = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gaim.Gaim.xpm";
  };
  "empathy-chat.Empathy-chat" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/empathy-chat.Empathy-chat.xpm";
  };
  Capitalism.Capitalism = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Capitalism.Capitalism.xpm";
  };
  Browser.Firefox = {
    NoAppIcon = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Browser.Firefox.xpm";
  };
  "\330\247\331\204\330\264\330\247\331\205\331\204\330\251.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/\330\247\331\204\330\264\330\247\331\205\331\204\330\251.exe.Wine.xpm";
  };
  irsetup.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/irsetup.exe.Wine.xpm";
  };
  "gimp-2.4.Gimp-2.4" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gimp-2.4.Gimp-2.4.xpm";
  };
  "empathy-debugger.Empathy-debugger" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/empathy-debugger.Empathy-debugger.xpm";
  };
  xminesweep.XMinesweep = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xminesweep.XMinesweep.xpm";
  };
  TS3.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/TS3.exe.Wine.xpm";
  };
  konqueror.Konqueror = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/konqueror.Konqueror.xpm";
  };
  "Jets'n'Guns 1.0342.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Jets'n'Guns 1.0342.exe.Wine.xpm";
  };
  explorer.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/explorer.exe.Wine.xpm";
  };
  "file-svg.File-svg" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/file-svg.File-svg.xpm";
  };
  vp3.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/vp3.exe.Wine.xpm";
  };
  subtitlecomposer.Subtitlecomposer = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/subtitlecomposer.Subtitlecomposer.xpm";
  };
  Addons.Thunderbird = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Addons.Thunderbird.xpm";
  };
  geeqie.Geeqie = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/geeqie.Geeqie.xpm";
  };
  vlc.Vlc = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/vlc.Vlc.xpm";
  };
  "Qt-subapplication." = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Qt-subapplication..xpm";
  };
  Update.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Update.Firefox.xpm";
  };
  gnumeric.Gnumeric = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnumeric.Gnumeric.xpm";
  };
  iv.Iv = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/iv.Iv.xpm";
  };
  kino.Kino = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kino.Kino.xpm";
  };
  "file-roller.File-roller" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/file-roller.File-roller.xpm";
  };
  "\330\243\330\250\330\254\330\257 \330\247\331\204\330\271\331\204\331\210\331\205.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/\330\243\330\250\330\254\330\257 \330\247\331\204\330\271\331\204\331\210\331\205.exe.Wine.xpm";
  };
  homebank.Homebank = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/homebank.Homebank.xpm";
  };
  hwsoliii.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/hwsoliii.exe.Wine.xpm";
  };
  _INS5576._MP.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/_INS5576._MP.Wine.xpm";
  };
  xferc. = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xferc..xpm";
  };
  xboard.XBoard = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xboard.XBoard.xpm";
  };
  gnotravex.Gnotravex = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnotravex.Gnotravex.xpm";
  };
  "skype-call-recorder.Skype-call-recorder" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/skype-call-recorder.Skype-call-recorder.xpm";
  };
  "uget-gtk.Uget-gtk" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/uget-gtk.Uget-gtk.xpm";
  };
  gajim.py.Gajim.py = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gajim.py.Gajim.py.xpm";
  };
  "icecat-bin.Icecat-bin" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/icecat-bin.Icecat-bin.xpm";
  };
  "fslint-gui.Fslint-gui" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/fslint-gui.Fslint-gui.xpm";
  };
  kpdf.Kpdf = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kpdf.Kpdf.xpm";
  };
  pcsx2.Pcsx2 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pcsx2.Pcsx2.xpm";
  };
  lcms.Lcms = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/lcms.Lcms.xpm";
  };
  "Rubber Ninjas.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Rubber Ninjas.exe.Wine.xpm";
  };
  pterm.Pterm = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pterm.Pterm.xpm";
  };
  VClient.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/VClient.exe.Wine.xpm";
  };
  Global.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Global.Firefox.xpm";
  };
  kgpg.Kgpg = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kgpg.Kgpg.xpm";
  };
  khexedit.Khexedit = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/khexedit.Khexedit.xpm";
  };
  drone.Drone = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/drone.Drone.xpm";
  };
  ca_setup.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ca_setup.exe.Wine.xpm";
  };
  ghex2.Ghex2 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ghex2.Ghex2.xpm";
  };
  k4guitune.K4guitune = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/k4guitune.K4guitune.xpm";
  };
  "<unknown>.<unknown>" = {
    Icon = "mplayer-logo.png";
  };
  wireshark.Wireshark = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wireshark.Wireshark.xpm";
  };
  APBooks.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/APBooks.exe.Wine.xpm";
  };
  engrampa.Engrampa = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/engrampa.Engrampa.xpm";
  };
  amaya_bin.Amaya_bin = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/amaya_bin.Amaya_bin.xpm";
  };
  "gnome-character-map.Gnome-character-map" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gnome-character-map.Gnome-character-map.xpm";
  };
  nautilus.Nautilus = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/nautilus.Nautilus.xpm";
  };
  gtali.Gtali = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gtali.Gtali.xpm";
  };
  kdesu.Kdesu = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kdesu.Kdesu.xpm";
  };
  "ntfs-config.Ntfs-config" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ntfs-config.Ntfs-config.xpm";
  };
  kcmshell4.Kcmshell4 = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kcmshell4.Kcmshell4.xpm";
  };
  bluefish.Bluefish = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/bluefish.Bluefish.xpm";
  };
  win.Xpdf = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/win.Xpdf.xpm";
  };
  retroshare.Retroshare = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/retroshare.Retroshare.xpm";
  };
  xfirc. = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xfirc..xpm";
  };
  XMMS_Player.xmms = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoMiniaturizeButton = Yes;
    NoResizebar = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/XMMS_Player.xmms.xpm";
    KeepOnTop = Yes;
    NoCloseButton = Yes;
  };
  "xfce4-dict.Xfce4-dict" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xfce4-dict.Xfce4-dict.xpm";
  };
  Weave.Firefox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Weave.Firefox.xpm";
  };
  Autorun.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Autorun.exe.Wine.xpm";
  };
  Winrtgen.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Winrtgen.exe.Wine.xpm";
  };
  gentoo.Gentoo = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gentoo.Gentoo.xpm";
  };
  MySQLExample.MySQLExample = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/MySQLExample.MySQLExample.xpm";
  };
  kdevelop.Kdevelop = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kdevelop.Kdevelop.xpm";
  };
  kvpnc.Kvpnc = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kvpnc.Kvpnc.xpm";
  };
  kpassgen.Kpassgen = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kpassgen.Kpassgen.xpm";
  };
  Luxor5thPassage.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Luxor5thPassage.exe.Wine.xpm";
  };
  ark.Ark = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ark.Ark.xpm";
  };
  gv.GV = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gv.GV.xpm";
  };
  kflux.kss.Kflux.kss = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kflux.kss.Kflux.kss.xpm";
  };
  gschem.Gschem = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gschem.Gschem.xpm";
  };
  devede.Devede = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/devede.Devede.xpm";
  };
  paman.Paman = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/paman.Paman.xpm";
  };
  Dialog.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Dialog.Firefox.xpm";
  };
  AngryBirdsSpace.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/AngryBirdsSpace.exe.Wine.xpm";
  };
  kedit.Kedit = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kedit.Kedit.xpm";
  };
  kmplayer.Kmplayer = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kmplayer.Kmplayer.xpm";
  };
  "VCLSalFrame.DocumentWindow.OpenOffice.org 2.4" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/VCLSalFrame.DocumentWindow.OpenOffice.org 2.4.xpm";
  };
  k3b.K3b = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/k3b.K3b.xpm";
  };
  mitter.Mitter = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mitter.Mitter.xpm";
  };
  "Foxyproxy-options.Firefox" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Foxyproxy-options.Firefox.xpm";
  };
  gflare.Gflare = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gflare.Gflare.xpm";
  };
  yad.Yad = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/yad.Yad.xpm";
  };
  rocs.Rocs = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/rocs.Rocs.xpm";
  };
  python.Python = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/python.Python.xpm";
  };
  "kompozer-bin.Kompozer-bin" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kompozer-bin.Kompozer-bin.xpm";
  };
  "regex-coach.tmp.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/regex-coach.tmp.Wine.xpm";
  };
  amdcccle.Amdcccle = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/amdcccle.Amdcccle.xpm";
  };
  gfig.Gfig = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gfig.Gfig.xpm";
  };
  WinPcap_4_0_2.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/WinPcap_4_0_2.exe.Wine.xpm";
  };
  nannysday2.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/nannysday2.exe.Wine.xpm";
  };
  stellarium.Stellarium = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/stellarium.Stellarium.xpm";
  };
  qbittorrent.Qbittorrent = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/qbittorrent.Qbittorrent.xpm";
  };
  kppplogview.Kppplogview = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kppplogview.Kppplogview.xpm";
  };
  wordpad.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wordpad.exe.Wine.xpm";
  };
  QTrex.QTrex = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/QTrex.QTrex.xpm";
  };
  wxmaxima.Wxmaxima = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wxmaxima.Wxmaxima.xpm";
  };
  pavumeter.Pavumeter = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pavumeter.Pavumeter.xpm";
  };
  kchmviewer.Kchmviewer = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kchmviewer.Kchmviewer.xpm";
  };
  tttfh.Tttfh = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/tttfh.Tttfh.xpm";
  };
  BezierDraw.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/BezierDraw.exe.Wine.xpm";
  };
  krusader.Krusader = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/krusader.Krusader.xpm";
  };
  notepad.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/notepad.exe.Wine.xpm";
  };
  terminator.Terminator = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/terminator.Terminator.xpm";
  };
  aweather.Aweather = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/aweather.Aweather.xpm";
  };
  kwalletd.Kwalletd = {
    NoAppIcon = Yes;
    NoMiniaturizeButton = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kwalletd.Kwalletd.xpm";
  };
  bde1.0.tmp.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/bde1.0.tmp.Wine.xpm";
  };
  geany.Geany = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/geany.Geany.xpm";
  };
  kword.Kword = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kword.Kword.xpm";
  };
  "gtk3-demo.Gtk3-demo" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gtk3-demo.Gtk3-demo.xpm";
  };
  "peg-e.Peg-e" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/peg-e.Peg-e.xpm";
  };
  "gftp-gtk.Gftp-gtk" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gftp-gtk.Gftp-gtk.xpm";
  };
  evince.Evince = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/evince.Evince.xpm";
  };
  magnifier.Magnifier = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/magnifier.Magnifier.xpm";
  };
  MySLAXCreator.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/MySLAXCreator.exe.Wine.xpm";
  };
  kcontrol.Kcontrol = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kcontrol.Kcontrol.xpm";
  };
  helpbrowser.Helpbrowser = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/helpbrowser.Helpbrowser.xpm";
  };
  kvirc.Kvirc = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kvirc.Kvirc.xpm";
  };
  "ebook-viewer.Ebook-viewer" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ebook-viewer.Ebook-viewer.xpm";
  };
  "VCLSalFrame.OpenOffice.org 2.4" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/VCLSalFrame.OpenOffice.org 2.4.xpm";
  };
  "mediainfo-gui.Mediainfo-gui" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mediainfo-gui.Mediainfo-gui.xpm";
  };
  superkaramba.Superkaramba = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/superkaramba.Superkaramba.xpm";
  };
  Pidgin.Pidgin = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Pidgin.Pidgin.xpm";
  };
  ksubtile.Ksubtile = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/ksubtile.Ksubtile.xpm";
  };
  "org-languagetool-gui-Main.org-languagetool-gui-Main" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/org-languagetool-gui-Main.org-languagetool-gui-Main.xpm";
  };
  AngryBirds.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/AngryBirds.exe.Wine.xpm";
  };
  xsane.Xsane = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xsane.Xsane.xpm";
  };
  unlock.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/unlock.exe.Wine.xpm";
  };
  kate.Kate = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kate.Kate.xpm";
  };
  main.Main = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/main.Main.xpm";
  };
  gespeaker.py.Gespeaker.py = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gespeaker.py.Gespeaker.py.xpm";
  };
  "plugin-browser.Plugin-browser" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/plugin-browser.Plugin-browser.xpm";
  };
  katoob.Katoob = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/katoob.Katoob.xpm";
  };
  "blueman-adapters.Blueman-adapters" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/blueman-adapters.Blueman-adapters.xpm";
  };
  vmg.Vmg = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/vmg.Vmg.xpm";
  };
  "gstreamer-properties.Gstreamer-properties" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gstreamer-properties.Gstreamer-properties.xpm";
  };
  "Z:\\usr\\lib\\ardour2\\ardour_vst.exe.so.Z:\\usr\\lib\\ardour2\\ardour_vst.exe.so" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Z:\\usr\\lib\\ardour2\\ardour_vst.exe.so.Z:\\usr\\lib\\ardour2\\ardour_vst.exe.so.xpm";
  };
  iexplore.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/iexplore.exe.Wine.xpm";
  };
  winhelp.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/winhelp.exe.Wine.xpm";
  };
  kalarm.Kalarm = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kalarm.Kalarm.xpm";
  };
  spsetup111.ex.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/spsetup111.ex.Wine.xpm";
  };
  browser.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/browser.exe.Wine.xpm";
  };
  Upload.Firefox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Upload.Firefox.xpm";
  };
  kuickshow.Kuickshow = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kuickshow.Kuickshow.xpm";
  };
  whaawmp.py.Whaawmp.py = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/whaawmp.py.Whaawmp.py.xpm";
  };
  ophcrack.Ophcrack = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ophcrack.Ophcrack.xpm";
  };
  kmess.Kmess = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kmess.Kmess.xpm";
  };
  xxgdb.XDbx = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/xxgdb.XDbx.xpm";
  };
  deluge.Deluge = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/deluge.Deluge.xpm";
  };
  showimage.Showimage = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/showimage.Showimage.xpm";
  };
  ktorrent.Ktorrent = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ktorrent.Ktorrent.xpm";
  };
  "gimp-2.6.Gimp-2.6" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gimp-2.6.Gimp-2.6.xpm";
  };
  xterm.XTerm = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoResizebar = Yes;
    Icon = Terminal.tiff;
  };
  crashdialog.Opera = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/crashdialog.Opera.xpm";
  };
  uniteditor.Uniteditor = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/uniteditor.Uniteditor.xpm";
  };
  mahjongg.Mahjongg = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mahjongg.Mahjongg.xpm";
  };
  PEiD.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/PEiD.exe.Wine.xpm";
  };
  kpresenter.Kpresenter = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kpresenter.Kpresenter.xpm";
  };
  css.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/css.exe.Wine.xpm";
  };
  k3d.K3d = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/k3d.K3d.xpm";
  };
  "thunar-volman.Thunar-volman" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/thunar-volman.Thunar-volman.xpm";
  };
  kwrite.Kwrite = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kwrite.Kwrite.xpm";
  };
  anjuta.Anjuta = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/anjuta.Anjuta.xpm";
  };
  "procedure-browser.Procedure-browser" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/procedure-browser.Procedure-browser.xpm";
  };
  ksnapshot.Ksnapshot = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ksnapshot.Ksnapshot.xpm";
  };
  "xfce4-mixer.Xfce4-mixer" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xfce4-mixer.Xfce4-mixer.xpm";
  };
  ogmrip.Ogmrip = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ogmrip.Ogmrip.xpm";
  };
  Dialog.SeaMonkey = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Dialog.SeaMonkey.xpm";
  };
  kbabel.Kbabel = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kbabel.Kbabel.xpm";
  };
  colorcode.Colorcode = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/colorcode.Colorcode.xpm";
  };
  "transmission-gtk.Transmission-gtk" = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/transmission-gtk.Transmission-gtk.xpm";
  };
  quanta.Quanta = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/quanta.Quanta.xpm";
  };
  FishTycoon.RWG.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/FishTycoon.RWG.Wine.xpm";
  };
  scite.Scite = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/scite.Scite.xpm";
  };
  kbruch.Kbruch = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kbruch.Kbruch.xpm";
  };
  kbluetooth.Kbluetooth = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kbluetooth.Kbluetooth.xpm";
  };
  "nm-applet.Nm-applet" = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/nm-applet.Nm-applet.xpm";
  };
  FishTycoon.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/FishTycoon.exe.Wine.xpm";
  };
  APBsetup22F.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/APBsetup22F.exe.Wine.xpm";
  };
  "script-fu.Script-fu" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/script-fu.Script-fu.xpm";
  };
  Bejeweled_2_Deluxe_Setup.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Bejeweled_2_Deluxe_Setup.exe.Wine.xpm";
  };
  emacs.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/emacs.exe.Wine.xpm";
  };
  step.Step = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/step.Step.xpm";
  };
  thunar.Thunar = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/thunar.Thunar.xpm";
  };
  okular.Okular = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/okular.Okular.xpm";
  };
  xv.MPlayer = {
    NoTitlebar = Yes;
    AlwaysUserIcon = Yes;
    NoResizebar = Yes;
    Icon = xv.tiff;
  };
  quadrapassel.Quadrapassel = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/quadrapassel.Quadrapassel.xpm";
  };
  Performancing.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Performancing.Firefox.xpm";
  };
  "LC-1518B3.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/LC-1518B3.exe.Wine.xpm";
  };
  cinelerra.Cinelerra = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/cinelerra.Cinelerra.xpm";
  };
  npp.5.0.beta.Installer.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/npp.5.0.beta.Installer.exe.Wine.xpm";
  };
  truecrypt.Truecrypt = {
    NoAppIcon = Yes;
    NoResizebar = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/truecrypt.Truecrypt.xpm";
  };
  pcb.Pcb = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/pcb.Pcb.xpm";
  };
  Terminal.Terminal = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Terminal.Terminal.xpm";
  };
  iagno.Iagno = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/iagno.Iagno.xpm";
  };
  kmid.Kmid = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kmid.Kmid.xpm";
  };
  xfburn.Xfburn = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/xfburn.Xfburn.xpm";
  };
  filelight.Filelight = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/filelight.Filelight.xpm";
  };
  Sync.Firefox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Sync.Firefox.xpm";
  };
  kopete.Kopete = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kopete.Kopete.xpm";
  };
  chromium.Chromium = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/chromium.Chromium.xpm";
  };
  avidemux2_gtk.Avidemux2_gtk = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/avidemux2_gtk.Avidemux2_gtk.xpm";
  };
  pan.Pan = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/pan.Pan.xpm";
  };
  TeamViewer.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/TeamViewer.exe.Wine.xpm";
  };
  start.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/start.exe.Wine.xpm";
  };
  gerbview.Gerbview = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gerbview.Gerbview.xpm";
  };
  "gnome-genius.Gnome-genius" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnome-genius.Gnome-genius.xpm";
  };
  "gnome-system-log.Gnome-system-log" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnome-system-log.Gnome-system-log.xpm";
  };
  totem.Totem = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/totem.Totem.xpm";
  };
  hh.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/hh.exe.Wine.xpm";
  };
  "wicd-client.py.Wicd-client.py" = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wicd-client.py.Wicd-client.py.xpm";
  };
  thunderbird.Thunderbird = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/thunderbird.Thunderbird.xpm";
  };
  khelpcenter.Khelpcenter = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/khelpcenter.Khelpcenter.xpm";
  };
  celestia.Celestia = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/celestia.Celestia.xpm";
  };
  Setup.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Setup.exe.Wine.xpm";
  };
  JnG.RWG.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/JnG.RWG.Wine.xpm";
  };
  gedit.Gedit = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gedit.Gedit.xpm";
  };
  epiphany.Epiphany = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/epiphany.Epiphany.xpm";
  };
  gslapt.Gslapt = {
    Icon = gslapt.png;
  };
  vlc.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/vlc.exe.Wine.xpm";
  };
  bsc.Bsc = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/bsc.Bsc.xpm";
  };
  entice08502.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/entice08502.exe.Wine.xpm";
  };
  Febe.Firefox = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/Febe.Firefox.xpm";
  };
  mousepad.Mousepad = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mousepad.Mousepad.xpm";
  };
  wineboot.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wineboot.exe.Wine.xpm";
  };
  "claws-mail.Claws-mail" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/claws-mail.Claws-mail.xpm";
  };
  FarmFrenzyPizzaParty.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/FarmFrenzyPizzaParty.exe.Wine.xpm";
  };
  "notepad++.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/notepad++.exe.Wine.xpm";
  };
  JnG.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/JnG.exe.Wine.xpm";
  };
  gvimdiff.Gvimdiff = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gvimdiff.Gvimdiff.xpm";
  };
  systemsettings.Systemsettings = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/systemsettings.Systemsettings.xpm";
  };
  winecfg.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/winecfg.exe.Wine.xpm";
  };
  simon.Simon = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/simon.Simon.xpm";
  };
  INS6835.tmp.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/INS6835.tmp.Wine.xpm";
  };
  kstars.Kstars = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kstars.Kstars.xpm";
  };
  gvim.Gvim = {
    StartMaximized = Yes;
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gvim.Gvim.xpm";
  };
  tea.Tea = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/tea.Tea.xpm";
  };
  "file-pdf.File-pdf" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/file-pdf.File-pdf.xpm";
  };
  base2011.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/base2011.exe.Wine.xpm";
  };
  gwenview.Gwenview = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gwenview.Gwenview.xpm";
  };
  ktux.Ktux = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/ktux.Ktux.xpm";
  };
  Dialog.Thunderbird = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Dialog.Thunderbird.xpm";
  };
  "SumatraPDF-1_8-install.exe.Wine" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/SumatraPDF-1_8-install.exe.Wine.xpm";
  };
  qamus.Qamus = {
    NoAppIcon = Yes;
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/qamus.Qamus.xpm";
  };
  Player.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/Player.exe.Wine.xpm";
  };
  smb4k.Smb4k = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/smb4k.Smb4k.xpm";
  };
  "flock-bin.Flock-bin" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/flock-bin.Flock-bin.xpm";
  };
  pcbnew.Pcbnew = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/pcbnew.Pcbnew.xpm";
  };
  mmc.Mmc = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/mmc.Mmc.xpm";
  };
  chrome.Chrome = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/chrome.Chrome.xpm";
  };
  kdf.Kdf = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/kdf.Kdf.xpm";
  };
  gerbv.Gerbv = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/gerbv.Gerbv.xpm";
  };
  mkarmageddonpc.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/mkarmageddonpc.exe.Wine.xpm";
  };
  "unit-editor.Unit-editor" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/unit-editor.Unit-editor.xpm";
  };
  "totem-plugin-viewer.Totem-plugin-viewer" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/totem-plugin-viewer.Totem-plugin-viewer.xpm";
  };
  kfilebox.Kfilebox = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/kfilebox.Kfilebox.xpm";
  };
  urxvt.URxvt = {
    NoTitlebar = Yes;
    NoAppIcon = Yes;
    NoResizebar = Yes;
  };
  MySofT.exe.Wine = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/MySofT.exe.Wine.xpm";
  };
  wxperl_demo.pl.Wxperl_demo.pl = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/wxperl_demo.pl.Wxperl_demo.pl.xpm";
  };
  gpartedbin.Gpartedbin = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gpartedbin.Gpartedbin.xpm";
  };
  licensedialog.Opera = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/licensedialog.Opera.xpm";
  };
  "gnome-nettool.Gnome-nettool" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/gnome-nettool.Gnome-nettool.xpm";
  };
  amarok.Amarok = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/amarok.Amarok.xpm";
  };
  "amaya-WinXP-11.2-pre3.exe.Wine" = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/amaya-WinXP-11.2-pre3.exe.Wine.xpm";
  };
  winhlp32.exe.Wine = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/winhlp32.exe.Wine.xpm";
  };
  nepomukservicestub.Nepomukservicestub = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/nepomukservicestub.Nepomukservicestub.xpm";
  };
  pikdev.Pikdev = {
    Icon = "/home/charlok/GNUstep/Library/WindowMaker/CachedPixmaps/pikdev.Pikdev.xpm";
  };
  assistant.Assistant = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/assistant.Assistant.xpm";
  };
  "google-chrome.Google-chrome" = {
    Icon = "{{ .chezmoi.homeDir }}/GNUstep/Library/WindowMaker/CachedPixmaps/google-chrome.Google-chrome.xpm";
  };
}
