{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
echo -e "\033[1m"
echo "╔══════════════════════════════════════════════╗"
echo "║      New Device Bootstrap — bootstrap.sh     ║"
echo "╚══════════════════════════════════════════════╝"
echo -e "\033[0m"
{{ end -}}
