{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

echo -e "\n\033[1m━━━  Package installation  ━━━\033[0m";

{{ $distro := "" -}}
{{ if eq .chezmoi.osRelease.id "arch" "manjaro" "endeavouros" "garuda" -}}
  {{ $distro = "arch" -}}
{{ else if eq .chezmoi.osRelease.id "ubuntu" "debian" "linuxmint" "pop" -}}
  {{ $distro = "debian" -}}
{{ else if eq .chezmoi.osRelease.id "fedora" "rhel" "centos" "almalinux" -}}
  {{ $distro = "fedora" -}}
{{ end -}}

echo -e "\033[0;36m\033[1m[INFO]\033[0m  Detected distro family: {{ $distro }}";

{{ $packages := list "zsh" "starship" "sway" "swaylock" "swayidle" "waybar"
"rofi" "lazygit" "tmuxp" "tmux" "vim" "neovim" "micro" "btop" "nnn" "atuin"
"wlsunset" "ripgrep" "git-delta" "bat" "zoxide" "eza" "wdisplays" "wob"
"wl-clipboard" "grim" "slurp" "autotiling"
-}}
{{ $distroPackages := dict
  "arch" (list "fd" "swaync" "bottom"
    "ttf-firacode-nerd" "ttf-nerd-fonts-symbols"
    "yazi" "gitui" "itools" "darkman")
  "debian" (list "sway-notification-center" "btm"
    "fd-find" "fonts-hosny-amiri" "fonts-firacode" "itools")
  "fedora" (list "fd-find" "swaync" "bottom"
    "amiri-fonts" "fira-code-fonts" "nerd-fonts-symbols")
-}}

{{ if eq $distro "arch" -}}

{{- $aurHelper := "pacman -S --needed" -}}
{{- if lookPath "yay" -}}
  {{- $aurHelper = "yay -S --needed" -}}
{{- else if lookPath "paru" -}}
  {{- $aurHelper = "paru" -}}
{{- end -}}

echo -e "\033[0;36m\033[1m[INFO]\033[0m  Using AUR helper: {{ $aurHelper }}";

sudo {{ $aurHelper }} {{ $packages | join " " }} {{ get $distroPackages $distro | join " " -}};

echo -e "\033[0;32m\033[1m[OK]\033[0m    Package installation complete.";
{{- else if eq $distro "debian" "ubuntu" "kali" }}
sudo apt install {{ $packages | join " " }} {{ get $distroPackages $distro | join " " -}};
echo -e "\033[0;32m\033[1m[OK]\033[0m    Package installation complete.";
{{- else if eq $distro "fedora" }}
# TODO
{{- else }}
  echo -e "\033[1m[ERROR]\033[0m Unsupported distro. Please install packages manually: {{ $packages | join " " }}" >&2;
{{- end }}

ZSH_LOC=$(which zsh)
if [[ -f $ZSH_LOC && $SHELL != *zsh*  ]]; then
echo -e "\033[0;36m\033[1m[INFO]\033[0m  Default shell is not zsh, changing shell";
chsh -s $ZSH_LOC
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew install ripgrep
{{ end -}}
