{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") -}}
#!/bin/bash

echo -e "\n\033[1m━━━  Yazi File Manager  ━━━\033[0m"
if command -v yazi >/dev/null; then
  echo -e "\033[0;36m\033[1m[INFO]\033[0m  Yazi already installed, skipping."
else
  curl -sS https://debian.griffo.io/EA0F721D231FDD3A0A17B9AC7808B4DD62C41256.asc | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/debian.griffo.io.gpg
  echo "deb https://debian.griffo.io/apt $(lsb_release -sc 2>/dev/null) main" | sudo tee /etc/apt/sources.list.d/debian.griffo.io.list
  sudo apt update
  sudo apt install yazi
  echo -e "\033[0;32m\033[1m[OK]\033[0m    Yazi installed."
fi
{{ end -}}
