{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

echo -e "\n\033[1m━━━  Yazi Plugins  ━━━\033[0m"
if ya pkg list | grep -q "yazi-rs/plugins:git"; then
  echo -e "\033[0;36m\033[1m[INFO]\033[0m  git plugin already installed, skipping."
else
  ya pkg add yazi-rs/plugins:git
  echo -e "\033[0;32m\033[1m[OK]\033[0m    Yazi git plugin installed."
fi

ya pkg upgrade
echo -e "\033[0;32m\033[1m[OK]\033[0m    Yazi plugins upgraded."
{{ end -}}
