{
  ".{lintstagedrc,prettierrc}": ["prettier --write"],
  "*.{json,yml,yaml,jsonc}": ["prettier --write"],
  "*.{pl,pm,pl.old}": ["perlcritic --severity 5", "perltidy -b"],
  "*.{rs}": ["rustfmt --edition 2024"],
  "*.{py}": ["ruff check --select I format --fix", "isort"],
  "*.{sh,zsh}": ["shellcheck", "shfmt -w"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{lua}": ["luacheck", "stylua --check"],
  "*.{html}": ["prettier --write", "htmlhint"],
  "*.{css}": ["stylelint --fix", "prettier --write"],
  "*.{md}": ["markdownlint --fix", "prettier --write"],
  "*.{toml}": ["taplo format"],
  "*.{xml}": ["xmllint --format --noout"],
  "*.{Makefile}": ["make -n -f /dev/null 2>&1 || true"],
  "*.{c,h,cpp,hpp,cxx,c++,,cc}": [
    "clang-format --style=Google -i",
    "cppcheck --enable=all --error-exitcode=1"
  ],
  "*.{kdl}": ["kdlfmt --check"],
  "*.{vim}": ["vint --enable-neovim"]
}
