{
  ".{lintstagedrc,prettierrc}": ["prettier --write"],
  "*.{json,json.tmpl,yml,yml.tmpl,yaml,yaml.tmpl,ini,ini.tmpl,jsonc,jsonc.tmpl}": [
    "prettier --write"
  ],
  "*.{pl,pl.tmpl,pm,pm.tmpl,pl.old}": [
    "perlcritic --severity 5",
    "perltidy -b"
  ],
  "*.{rs,rs.tmpl}": ["rustfmt --edition 2024"],
  "*.{py,py.tmpl}": ["ruff check --select I format --fix", "isort"],
  "*.{sh,sh.tmpl,zsh,zsh.tmpl}": ["shellcheck", "shfmt -w"],
  "*.{js,js.tmpl,ts,ts.tmpl}": ["eslint --fix", "prettier --write"],
  "*.{lua,lua.tmpl}": ["luacheck", "stylua --check"],
  "*.{html,html.tmpl}": ["prettier --write", "htmlhint"],
  "*.{css,css.tmpl}": ["stylelint --fix", "prettier --write"],
  "*.{md,md.tmpl}": ["markdownlint --fix", "prettier --write"],
  "*.{toml,toml.tmpl}": ["taplo format --check"],
  "*.{xml,xml.tmpl}": ["xmllint --format --noout"],
  "*.{Makefile,Makefile.tmpl}": ["make -n -f /dev/null 2>&1 || true"],
  "*.{c,c.tmpl,h,h.tmpl,cpp,cpp.tmpl,hpp,hpp.tmpl,cxx,cxx.tmpl,c++,c++.tmpl,cc,cc.tmpl}": [
    "clang-format --style=Google -i",
    "cppcheck --enable=all --error-exitcode=1"
  ],
  "*.{kdl,kdl.tmpl}": ["kdlfmt --check"],
  "*.{vim,vim.tmpl}": ["vint --enable-neovim"]
}
