[General]
disable_certificate_validation=false

[auth]
access_token={{ if .chezmoi.config.keepassxc.database -}} {{ (keepassxcAttribute "matrix" (printf "%s nheko access token" .machine)) }} {{- else if ne .password_manager "pass" }} {{ (bitwarden "item" "matrix").fields.nheko_access_token }} {{- else }} {{ pass "matrix/work/nheko_access_token" }} {{- end }}
device_id={{ if .chezmoi.config.keepassxc.database -}} {{ (keepassxcAttribute "matrix" (printf "%s nheko device id" .machine)) }} {{- else if ne .password_manager "pass" }} {{ (bitwarden "item" "matrix").fields.nheko_access_token }} {{- else }} {{ pass "matrix/work/nheko_access_token" }} {{- end }}
home_server={{ if .chezmoi.config.keepassxc.database -}} {{ (keepassxc "matrix").URL }} {{- else if ne .password_manager "pass" }} {{ (bitwarden "item" "matrix").fields.website }} {{- else }} {{ pass "matrix/work/website" }} {{- end }}
user_id={{ if .chezmoi.config.keepassxc.database -}} {{ (keepassxc "matrix").UserName }} {{- else if ne .password_manager "pass" }} {{ (bitwarden "item" "matrix").fields.username }} {{- else }} {{ pass "matrix/work/username" }} {{- end }}

[settings]
scale_factor=1

[user]
alert_on_notification=false
animate_images_on_hover=false
automatically_share_keys_with_trusted_users=false
avatar_circles=true
bubbles_enabled=false
camera_frame_rate=15/1
camera_resolution=800x600
collapsed_spaces=@Invalid()
currentProfile=
current_tag_id=tag:m.favourite
decrypt_notifications=true
decrypt_sidebar=true
desktop_notifications=true
disable_swipe=true
emoji_font_family=
expired_events_background_maintenance=false
expose_dbus_api=false
fancy_effects=true
font_family=
font_size=9
group_view=true
hidden_pins=@Invalid()
hidden_tags=@Invalid()
hidden_widgets=@Invalid()
invert_enter_key=false
markdown_enabled=true
microphone=Built-in Audio Analog Stereo
minor_events=true
mobile_mode=true
muted_tags=global
online_key_backup=true
only_share_keys_with_verified_users=false
open_image_external=false
open_video_external=false
presence=AutomaticPresence
privacy_screen=false
privacy_screen_timeout=0
read_receipts=true
recent_reactions=@Invalid()
reduced_motion=false
ringtone=Default
screen_share_frame_rate=5
screen_share_hide_cursor=false
screen_share_pip=true
screen_share_remote_video=false
scrollbars_in_roomlist=false
show_images=Always
sidebar\community_list_width=43
sidebar\room_list_width=198
small_avatars_enabled=false
sort_by_alphabet=false
sort_by_unread=true
space_background_maintenance=true
space_notifications=true
theme=dark
timeline\buttons=true
timeline\enlarge_emoji_only_msg=false
timeline\max_width=0
timeline\message_hover_highlight=true
typing_notifications=true
use_identicon=true
use_stun_server=false
window\start_in_tray=false
window\tray=true
