{{ $filename := printf
  "%s/.local/share/chezmoi/Pictures/private_backgrounds/%s.wallpaper.webp"
  .chezmoi.homeDir
  .chezmoi.osRelease.id
-}}
{{ if lstat $filename -}}
{{ $filename -}}
{{ else -}}
{{ .chezmoi.homeDir }}/.local/share/chezmoi/Pictures/private_backgrounds/arch.wallpaper.webp
{{- end -}}
