{{ $filename := printf "%s/.local/share/holidays/holidays.jsonl" .cxt.chezmoi.homeDir -}}
{{ range $idx, $h := (include $filename | trim | splitList "\n") -}}
{{ with fromJson . -}}
holiday.{{ .locale }}{{ $idx }}.name={{ .description }}
holiday.{{ .locale }}{{ $idx }}.date={{ .date | replaceAllRegex "-" "" }}
{{ end -}}
{{ end -}}
