[locale]
local_timezone= {{ .timezone }}
default_timezone= {{ .timezone }}
timeformat= %H:%M
dateformat= %d.%m.
longdateformat= %Y-%m-%d
datetimeformat= %m-%d %H:%M
longdatetimeformat= %Y-%m-%d %H:%M

[calendars]

# [[calendars]]
# path = ~/.calendars/*
# type = discover
# color = dark green

[[TODO]]
path = ~/.calendars/1239381731946623387/
color = dark green
readonly = True
priority = 20
type = calendar

[[Reading]]
path = ~/.calendars/553428928550086219/
readonly = True
type = calendar
